@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

:root {
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --active-clr: #5e63ff;
  --text-clr: #e6e6ef;
  --hover2-clr: #1a1c27;
  --secondary-text-clr: #b0b3c1;
}

body {
  margin: 0;
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* width: 90vw; */
  background-color: black;
  display: flex;
}

#root {
  flex-grow: 1;
  display: flex;
}
.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}
