.main {
  color: aliceblue;
  flex-grow: 1;
  flex-basis: 100%;
  background-image: url("./assets/main_page.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
